

*{
margin: 0 !important;
}

.tab-content {
    padding: 20px;
    display: ;
}

#weatherprop, #weatherval {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

#weatherprop {
    width: 250px;
    height: 600px;
}

#weathervals {
    display: inline-block;
    overflow-x: auto;
    white-space: nowrap;
}

#date {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    border: 1px solid #898989;
    background-color: #cccccc;
}
.time {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #ffffff;

}

.overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
    background-color: rgba(0, 0, 0, 0.65);
    position: fixed; 
    cursor: default; 
}

.overlay:target {
    display: block;
}

.popup {
    
    top: -100%;
    right: 0;
    left: 50%;
    font-size: 14px;
    z-index: 20;
    margin: 0;
    width: 70%;
    min-width: 320px;
    max-width: 700px;
    min-height: 320px;
    max-height: 600px;

    position: absolute;
    padding: 15px;
    border: 1px solid #383838;
    background: #E6E6FA;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    font: 14px/18px 'Tahoma', Arial, sans-serif;

    -webkit-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -moz-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -ms-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -webkit-transform: translate(-50%, -500%);
    -ms-transform: translate(-50%, -500%);
    -o-transform: translate(-50%, -500%);
    transform: translate(-50%, -500%);
    -webkit-transition: -webkit-transform 0.6s ease-out;
    -moz-transition: -moz-transform 0.6s ease-out;
    -o-transition: -o-transform 0.6s ease-out;
    transition: transform 0.6s ease-out;
}

.overlay:target+.popup {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: 20%;
}

.close {
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    position: absolute;
    padding: 0;
    border: 2px solid #ccc;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    background-color: rgba(61, 61, 61, 0.8);
    -webkit-box-shadow: 0px 0px 10px #000;
    -moz-box-shadow: 0px 0px 10px #000;
    box-shadow: 0px 0px 10px #000;
    text-align: center;
    text-decoration: none;
    font: 13px/20px 'Tahoma', Arial, sans-serif;
    font-weight: bold;
    -webkit-transition: all ease .8s;
    -moz-transition: all ease .8s;
    -ms-transition: all ease .8s;
    -o-transition: all ease .8s;
    transition: all ease .8s;
}
.close:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
    font-size: 12px;
}
.close:hover {
    background-color: rgba(252, 20, 0, 0.8);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);    
}

.popup img {
    width: 100%;
    height: auto;
}

.pic-left, 
.pic-right {
    width: 25%;
    height: auto;
}
.pic-left {
    float: left;
    margin: 5px 15px 5px 0;
}
.pic-right {
    float: right;
    margin: 5px 0 5px 15px;
}

.popup embed, 
.popup iframe {
    top: 0;
    right: 0;
    bottom: 0; 
    left: 0; 
    display:block;
    margin: auto;
    min-width: 320px;
    max-width: 600px;
    width: 100%;
}

.popup p {margin: 0; padding: 5px 0}

.is-image {
  position: relative;
}

.navbar{

  border-radius:0;
  margin-bottom:0;
  border:none;
  font-family: 'Open Sans Condensed', sans-serif, sans-serif;
 }
    
.navbar > li >a{
    
    }
  

  
.navbar-header{
  }
  

.site-description{
  color:#fff;
  font-size:1.3em;
  float:left;
  margin-top:0px !important;
  margin-left:0px;
  }
  
.main-menu{
  position: relative;
  left:0px;
  }
  
.slider, .carousel{
  width: 100%;
  max-height:360px;
  overflow:hidden;
  }
  


.carousel-control{
  background-color:transparent;
  background-image:none !important;
  }
  
.carousel-control:hover,
.carousel-control:focus {
  color: #fff;
  text-decoration: none;
  background-color:transparent !important;
  background-image:none !important;
  outline: 0;
}

.main-menu{
  left:0;
  position:relative;
  }


}

div.form-group{

}





#window1, #line {

	position: relative;
}
    body {
  
  background-image: url('../img/Green-nature-grass-bokeh-blurred-background_1920x1200.jpg')

    }
   
    a.button {
      background: #F5F5F5;
    font-family: Helvetica, arial, serif;
    color:#808080;
    text-align:center;
    font-size:15px;
    cursor: pointer;
    text-decoration: none;
    padding:15px;
    border: 1px solid rgba(0,0,0,0.5);
    border-bottom: 3px solid rgba(0,0,0,0.5);
    border-radius: 6px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.5), 
      
  }

  a.button:hover {
    color:#000000;
    opacity: 0.3;
    filter: alpha(opacity=70);
    -moz-opacity:0.3;
    -khtml-opacity: 0.3;
  }
  div.list-group-item{
    width: 450px;

  }



    #cityname{
  height: 28px;
  width: 300px;
  background-color: #ffe;
  color: #000;
  font-family:;
  font-size: 100%;
  opacity: 0.7;

}
 #day1{
      height: 40px;
  width: 100px;
  background-color: #ffe;
  color: #000;
  font-family:;
  opacity: 0.5;

    }
    #send{
      height: 40px;
  width: 70px;
  background-color: #ffe;
  color: #000;
  font-family:;
  opacity: 0.5;

    }


      h2 {
         color:#fff;
      font-family: Helvetica, arial, serif;
      font-size: 30px; 



      }
      #window1:target {display: block;}
      div-4 {

      	font-family:""
      	color: #D3D3D3
      }
      a{
      	text-decoration: none;
      }
      
        

     